# Project Configuration
PROJECT_NAME=Intelligent Invoice Processing & Semantic Search Engine
API_V1_STR=/api/v1
CORS_ORIGINS=["http://localhost:3000","http://localhost:5173","http://127.0.0.1:3000"]

# PostgreSQL Database Configuration
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=invoicedb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/invoicedb

# Qdrant Vector DB Configuration
QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION=invoices_vector_index

# Azurite Local Azure Blob Storage Configuration
AZURITE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8nsOM05zxdE60ZlwqsCXVneDPLU68Z0U3l5C0o9FutFQqs4fV35jT4bF6x9_DevAccountKey;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;
AZURE_CONTAINER_NAME=invoices-raw

# AI & Embedding Model Configuration
EMBEDDING_MODEL_NAME=all-MiniLM-L6-v2
AZURE_DOC_INTEL_ENDPOINT=https://your-doc-intel-resource.cognitiveservices.azure.com/
AZURE_DOC_INTEL_KEY=your_azure_document_intelligence_api_key_here
